@font-face {
  font-family: 'AppleSDGothic';
  font-weight: lighter;
  src: url('../static/fonts/AppleSDGothicNeoL.ttf') format('truetype');
}

@font-face {
  font-family: 'AppleSDGothic';
  font-weight: normal;
  src: url('../static/fonts/AppleSDGothicNeoM.ttf') format('truetype');
}

@font-face {
  font-family: 'AppleSDGothic';
  font-weight: bold;
  src: url('../static/fonts/AppleSDGothicNeoB.ttf') format('truetype');
}
